html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.position_create{

    float: right;
    margin-top: -23px;

}
.panel-body{
    overflow-x: auto !important;
}

.button_position{
    margin-top: 24px !important; 
}

h4{

    font-size: 16px;
    font-weight: bold;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#select_rango{
    display: none;
}

#fecha{
    display: none;
}

#numero{
    display: none;
}

.field-petpeticionesz-fecha_inicio  .ui-datepicker-trigger{
    width: 33px !important;
    position: absolute !important;
    top: 25px !important;
}

.field-petpeticionesz-fecha_fin .ui-datepicker-trigger{
    width: 33px !important;
    position: absolute !important;
    top: 25px !important;
}

#petpeticionesz-fecha_fin, #petpeticionesz-fecha_inicio{
    padding-left: 38px; 

}

.checkbox_admin{
    display: flex !important;
    width: 52px;
}

.required label.control-label:after {
    content:" * ";
    color: #f44336;
    font-size: 13px;
}

.required label.form-label:after {
    content:" * ";
    color: #f44336;
    font-size: 13px;
}

.field-contcontribuyentes-dni_numero label.control-label:after {
    content:"  " !important;
   
   
}

.version_ {
    padding-left: 20px;
}



.hasDatepicker {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #e1e1e1;
}
