/* CSS zii.widgets.CMenu  */

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}   

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li.bottom {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}  

.panel > .navbar-tool {
    padding: 15px 10px;
    background-color: #FAFAFA;
}

.navbar-tool .panel-title {
    font-size: 22px;
}

.menu-tool {
    float: right; 
    position: relative; 
    top: -40px; 
    right: 0px;
    display: inline-block;
        height: 0;
}

.menu-tool .menu-items {
    float: right;
}

.menu-tool .pagesize {
    float: right;

}

.menu-tool-all {
    float: right; 
    position: absolute; 
    top: 8px; 
    right: 20px;
    display: inline-block;  
}

section.box .actions a {
    color: #ffffff !important;
}

.showopacity  .select2-container .select2-choice > .select2-chosen{
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
    color: #fff;
}

#s2id_filter_razon { /* Filtro general de contribuyentes  */
    padding: 0;
    margin: 0;
    top: 7px;
}

#s2id_filter_razon.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
}
span.rif{
    font-size: 12px;
    color: #1f7bb6;
}

.select2-results .select2-highlighted span.rif{
    color: #fff;
}

div.table-responsive .row {
    margin: 0;
}

.alert {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 6px;
}



/* Para el filtro general */
@media (max-width: 767px){

    .searchform{
        position: fixed !important;
        top: 5px;
        left: 42PX;
        width: 48% !important;
    }
    
    .searchform .input-group{
        width: 0 !important;
    }
    
    .page-topbar .quick-area .pull-right {
        right: -18px;
    }
    
    .menu-tool {
        float: initial;
        position: initial;
        top: 0px;
        right: 0px;
        display: inline-block;
        height: initial;
        width: 100%;
    }
}

/* Ajuste de Indicadores, separacion Vertical */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}

label.control-label {
    font-weight: 400;
    color: #555555;
}

.js-switch-demo,.js-switch1,select.s2_filtros {
    display: none;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box>.inner {
    padding: 20px
}
.bg-default, .callout.callout-info, .label-info, .modal-info .modal-body {
    background-color: #eeeeee !important;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.ico-home {
    height: 122px;
    padding: 50px 12px 0px;
}
.g {
    padding: 50px;
    font-size: 90px;
}

    